.card {
    width: 600px;
    height: 600px;
    border-radius: 30px;
    background: #eaeaea;
    box-shadow: 12px 12px 18px #bebebe,
               -10px -10px 15px #ffffffe2;
  }
  .bgcolor{
    background-color: #dad3d3;
  }